{% extends "base.html" %}
{% block title %}歡迎{% endblock %}
{% block content %}
<div class="container text-center mt-5">
    <h1 class = "mb-4 maintext">歡迎 {{ username | add_stars }}</h1>
    <h4 class="mb-4 text">您已成功登入會員系統！</h4>
</div>
<div class="text-center">
    <a href="{{ url_for('edit_profile', iid=iid) }}" class="btn btn-primary ">修改基本資料</a>
    <a href="#" class="btn btn-danger" onclick="confirmDelete('{{ iid }}')">刪除使用者</a>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">返回首頁</a>
</div>
<script>
function confirmDelete(iid) {
    if (confirm("若刪除這個使用者，所有相關記錄將一併刪除，是否繼續？")) {
        window.location.href = `/delete/${iid}`;
    }
}
</script>
{% endblock %}